.idea/
**/__pycache__/
helm_charts/
scripts/
.git/
.cert/
*.egg-info/
dist/
.flake8
.gitignore
.dockerignore
setup.py
dev_requirements.txt
.pre-commit-config.yaml
Dockerfile
README.md
pyproject.toml
bk_operator_framework/
MANIFEST.in
local_debug.py